@{
    ViewData["Title"] = "Pantalones";
}
<div class="text-center">
    <h1 class="display-4">Pantalones</h1>
</div>
<body>
    <table style="border: 1px solid black" align="center">
        <tr>
            <th style="text-align:center"><b>POSICION</b></th>
            <th style="text-align:center"><b>CODIGO</b></th>
            <th style="text-align:center"><b>NOMBRE</b></th>
            <th style="text-align:center"><b>PRECIO</b></th>
        </tr>
        <tr>
            <td style="text-align:center">1</td>
            <td style="text-align:center">@ViewBag.Codigo1</td>
            <td style="text-align:center">@ViewBag.Nombre1</td>
            <td style="text-align:center">$@ViewBag.Precio1</td>
        </tr>
        <tr>
            <td style="text-align:center">2</td>
            <td style="text-align:center">@ViewBag.Codigo2</td>
            <td style="text-align:center">@ViewBag.Nombre2</td>
            <td style="text-align:center">$@ViewBag.Precio2</td>
        </tr>
        <tr>
            <td style="text-align:center">3</td>
            <td style="text-align:center">@ViewBag.Codigo3</td>
            <td style="text-align:center">@ViewBag.Nombre3</td>
            <td style="text-align:center">$@ViewBag.Precio3</td>
        </tr>
        <tr>
            <td style="text-align:center">4</td>
            <td style="text-align:center">@ViewBag.Codigo4</td>
            <td style="text-align:center">@ViewBag.Nombre4</td>
            <td style="text-align:center">$@ViewBag.Precio4</td>
        </tr>
        <tr>
            <td style="text-align:center">5</td>
            <td style="text-align:center">@ViewBag.Codigo5</td>
            <td style="text-align:center">@ViewBag.Nombre5</td>
            <td style="text-align:center">$@ViewBag.Precio5</td>
        </tr>
        <tr>
            <td style="text-align:center">6</td>
            <td style="text-align:center">@ViewBag.Codigo6</td>
            <td style="text-align:center">@ViewBag.Nombre6</td>
            <td style="text-align:center">$@ViewBag.Precio6</td>
        </tr>
        <tr>
            <td style="text-align:center">7</td>
            <td style="text-align:center">@ViewBag.Codigo7</td>
            <td style="text-align:center">@ViewBag.Nombre7</td>
            <td style="text-align:center">$@ViewBag.Precio7</td>
        </tr>
        <tr>
            <td style="text-align:center">8</td>
            <td style="text-align:center">@ViewBag.Codigo8</td>
            <td style="text-align:center">@ViewBag.Nombre8</td>
            <td style="text-align:center">$@ViewBag.Precio8</td>
        </tr>
        <tr>
            <td style="text-align:center">9</td>
            <td style="text-align:center">@ViewBag.Codigo9</td>
            <td style="text-align:center">@ViewBag.Nombre9</td>
            <td style="text-align:center">$@ViewBag.Precio9</td>
        </tr>
        <tr>
            <td style="text-align:center">10</td>
            <td style="text-align:center">@ViewBag.Codigo10</td>
            <td style="text-align:center">@ViewBag.Nombre10</td>
            <td style="text-align:center">$@ViewBag.Precio10</td>
        </tr>       
    </table>
</body>
<div class="text-center">
    <form method="post">
        <p> </p>
        <div>
            <p>@ViewBag.Tardo1@ViewBag.Tiempo1@ViewBag.Mensaje1</p>
            <button type="submit" value="Ordenar3" name="ordenar3" class="btn-group">Ordenar por codigo</button>
            <button type="submit" value="Ordenar4" name="ordenar4" class="btn-group">Ordenar por precio</button>
        </div>        
    </form>
</div>
<div class="text-center">
    <form method="post">
        <div>
            <p> </p>
            <input type="text" class="form-control" name="pos" placeholder="Introducir la posicion del objeto a comprar"/>
        </div>
            <p> </p>
        <div>
            <button type="submit" value="Comprar" name="comprar" class="btn-group">Comprar</button>
        </div>        
    </form>
</div>
<div class="text-center">
    <form method="post">
        <div>
            <p> </p>
            <p> </p>
            <input type="text" class="form-control" name="pos2" placeholder="Introducir la posicion del objeto a editar"/>
            <p> </p>
            <input type="text" class="form-control" name="codigo" placeholder="Introducir el codigo del objeto por el que lo quiere cambiar"/>
            </div>
            <p> </p>
            <div>
            <button type="submit" value = "Editar" name="editar" class="btn-group">Editar</button>
        </div>        
    </form>
</div>
<div class="text-center">
    <form method="post">
        <div>
            <p> </p>
            <p>@ViewBag.Buscar @ViewBag.Buscar2</p>
            <input type="text" class="form-control" name="codigo2" placeholder="Introducir el codigo del objeto que quiere buscar"/>
        </div>
            <p> </p>
        <div>
            <button type="submit" value="Buscar" name="buscar" class="btn-group">Buscar</button>
        </div>        
    </form>
</div>
